body {
      --element-width: 90vw;
      width: var(--element-width);
      outline: 1px solid grey;
      
      /* below divider value must be manually adjusted for
         the wanted element width. */
      font-size: calc(var(--element-width) / 30);
      
      word-break: break-all; /* for testing purpose only */
    }
h1 {
  color: blue;
  font-size: calc(var(--element-width) / 20);  
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  text-align: center;
}
h2 {
  color: blue;
  font-size: calc(var(--element-width) / 25);  
    margin-top: 0.1em;
  margin-bottom: 0.1em;
  text-align: center;
}
.chord {
	font:bold 70% sans-serif;
	color:blue;
	padding-right: 1ex;
	}
.chordline {
}
.lyricsline {
}
A.chordlink {
	text-decoration:none;
	} 
A.chordlink:hover {
	text-decoration:underline;
	} 
.comment {
	color: white;
	background-color: black;
	margin-top:1em; padding:0 .5em;
}
.chorus {
	border-left: solid; 
	padding-left:1ex;
}
